.tabs-container {
  list-style: none;
  padding: 0;
  margin: 0;
}

.app-wrapper {
  /* background-color: #f5f5f5; */
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  justify-content: center;
  z-index: 100;
  margin-top: 10px;
}

.tabs-container {
  position: relative;
  display: flex;
  background-color: var(--shadow-rgba);
  padding: 0.25rem;
  border: 2px solid var(--light-rgba);
  border-radius: 9999px;
  width: fit-content;
  margin: auto;
}

.tab {
  position: relative;
  z-index: 10;
  display: block;
  cursor: pointer;
  padding: 0.575rem 1rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: white;
  /* mix-blend-mode: difference; */
}

/* @media (min-width: 768px) {
  .tab {
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
  }
} */

.cursor {
  position: absolute;
  z-index: 0;
  height: 2.5rem;
  background: var(--reversed-background);
  /* background: red; */
  border-radius: 9999px;
  top: 50%;
  color: white;
  transform: translateY(-50%);
}

/* @media (min-width: 768px) {
  .cursor {
    height: 3rem;
  }
} */
