.parentz {
  width: 100%;
  display: flex;
  justify-content: center;
}

.parentz2 {
  padding-top: 30px;
  color: #fff;
  position: absolute;
  top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 14vh; */

  width: 120px;
  overflow: hidden;
}

.slides2 {
  position: relative;
  display: grid;
  /* border: 10px solid yellow; */

  > .slide2 {
    grid-area: 1 / -1;
  }

  > .button_slides2 {
    appearance: none;
    background: transparent;
    border: none;
    color: #fff;
    position: absolute;
    font-size: 3.5rem;
    width: 70%;
    height: auto;

    top: -70%;
    transition: opacity 0.3s;
    opacity: 0.7;
    z-index: 5;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }

    &:first-child {
      left: -80%;
    }
    &:last-child {
      right: -80%;
    }
  }
}

.slideContent2 {
  width: 25px;
  height: 25px;

  transition: transform 0.5s ease-in-out;
  opacity: 1;
  box-shadow: 0 2px 8px 2px rgba(255, 255, 255, 0.08);

  display: grid;
  align-content: center;

  transform-style: preserve-3d;
  transform: perspective(1500px) translateX(calc(150% * var(--offset)))
    rotateY(calc(-5deg * var(--dir)));
}

.slideContent.active:hover {
  cursor: pointer;
}

.testBackground {
  position: fixed;
  top: 0%;
  margin-top: 145px;
  bottom: 0%;
  width: 50%;
  aspect-ratio: 900 / 650;
  z-index: -1;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}

.slideBackground2 {
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  position: fixed;
  top: 0%;
  margin-top: 30px;
  bottom: 0%;
  width: 90%;
  aspect-ratio: 900 / 650;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  opacity: 1;
  /* transition: opacity 0.1s ease-in-out; */
  pointer-events: none;
  /* transform: translateX(calc(50% * var(--dir))); */
  /* left: 50%; */
  /* transform: translateX(-50%); */
}

.slide2[data-active] {
  z-index: 2;
  pointer-events: auto;

  .slideBackground2 {
    opacity: 1;
    transform: none;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    /* scale: 0.8; */
  }

  .slideContent2 {
    --x: calc(var(--px) - 0.5);
    --y: calc(var(--py) - 0.5);
    opacity: 1;
    background: linear-gradient(rgba(15, 28, 56, 0.7), #4aace0);

    transform: perspective(1000px);

    &:hover {
      transition: none;
      /* transform: perspective(1000px) rotateY(calc(var(--x) * 45deg))
        rotateX(calc(var(--y) * -45deg)); */
    }
  }
}

.rel_container {
  display: relative;
}

.dot {
  background-color: #ccc;
  border: none;
  border-radius: 50%;
  display: inline-block;
  margin: 1rem 5px;
  padding: 5px;

  background: linear-gradient(rgba(12, 27, 58, 0.7), #2f7da783);
  /* border: 1px solid #335a7038; */
}

@media (max-width: 1350px) {
  .testBackground {
    width: 70%;
  }
}

@media (max-width: 1000px) {
}

@media (max-width: 750px) {
  .testBackground {
    width: 80%;
  }
}

@media (max-width: 500px) {
}

@media (max-width: 400px) {
  .testBackground {
    width: 90%;
  }
}
