.tabs-container {
  list-style: none; /* usuwa kropki */
  padding: 0;
  margin: 0;
}

.app-wrapper {
  background-color: #f5f5f5;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
}

.tabs-container {
  position: relative;
  display: flex;
  background-color: white;
  padding: 0.25rem;
  border: 2px solid black;
  border-radius: 9999px;
  width: fit-content;
  margin: auto;
}

.tab {
  position: relative;
  z-index: 10;
  display: block;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: white;
  mix-blend-mode: difference;
}

@media (min-width: 768px) {
  .tab {
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
  }
}

.cursor {
  position: absolute;
  z-index: 0;
  height: 1.75rem;
  background-color: black;
  border-radius: 9999px;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .cursor {
    height: 3rem;
  }
}
