:root {
  --sz: 30px;
}

.graph {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  /* background-color: white; */
}

.grid-container {
  display: grid;
  grid-template-areas:
    'two three'
    'one three';
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 0.7fr 4fr;
  gap: 20px;
  padding: 5px;
  max-width: 1200px;
}

.item {
  /* border: 10px solid yellow; */
  padding: 0.5rem;
  text-align: center;
}

.item-1 {
  grid-area: one;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 55px;
  margin-right: 70px;
}

.item-2 {
  margin-right: 50px;
  grid-area: two;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.item-3 {
  grid-area: three;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.skewul {
  position: relative;
  transform: skewY(-3deg);
}

.skewli {
  position: relative;
  list-style: none;
  margin-bottom: 5px;
  padding: 1.5px;
  background: var(--reversed-background2);
  z-index: calc(1 * var(--1));
  /* ??? */
  transition: 0.5s;
}

.skewli:hover {
  background: var(--reversed-background);
  transform: translateX(10px);
}

.skewli::before {
  content: '';
  color: #999;
  background: var(--007);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: -7px;
  width: 7px;
  height: 100%;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;
}

.skewli:hover::before {
  background: var(--008);
}

.skewli:after {
  content: '';
  position: absolute;
  top: -7px;
  left: 0px;
  width: 100%;
  height: 7px;
  background: var(--reversed-background2);
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}

.skewli:hover::after {
  background: var(--reversed-background);
}

.skewli a {
  text-decoration: none;
  color: #ffffffbb;
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.5s;
  transform: translateX(-20px) translateZ(20px);
  transform-style: preserve-3d;
  perspective: 500px;
  text-align: left;
  width: 120%;
  padding-left: 30px;
}

.skewli a:active,
.skewli a:focus {
  outline: none;
  background-color: transparent;
}

.skewli:hover a {
  color: #fff;
}

.a1 {
  z-index: 1;

  width: calc(var(--sz) * 8);
}

.a2 {
  z-index: 2;
  width: calc(var(--sz) * 6);
}

.a3 {
  z-index: 3;
  width: calc(var(--sz) * 6);
}

.a4 {
  z-index: 4;
  width: calc(var(--sz) * 4);
}

.a5 {
  z-index: 5;
  width: calc(var(--sz) * 3);
}

.a6 {
  z-index: 6;
  width: calc(var(--sz) * 3);
}

.a7 {
  z-index: 7;
  width: calc(var(--sz) * 4);
}

.a8 {
  z-index: 8;
  width: calc(var(--sz) * 1);
}

.a9 {
  z-index: 9;
  width: calc(var(--sz) * 2);
}
.a10 {
  z-index: 10;
  width: calc(var(--sz) * 1);
}
.a11 {
  z-index: 11;
  width: calc(var(--sz) * 1);
}
.a12 {
  z-index: 12;
  width: calc(var(--sz) * 1);
}

/*  test */

.fadeIn {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.2s ease-in, transform 0.6s ease;
  animation: fadeSlideIn 0.6s forwards;
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.table {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.info {
  position: relative;
  border: 10px solid yellow;
  width: 180px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 10px;
  align-items: center;
  background: rgba(17, 17, 17, 0.378);
  box-shadow: 0px 7px 25px var(--shadow-rgba);
  border: 1px solid var(--gradient-rgba);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  height: 50px;
  color: var(--text);
}

.add_info {
  position: relative;
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-items: center;
  background: rgba(17, 17, 17, 0.378);
  box-shadow: 0px 7px 25px var(--shadow-rgba);
  border: 1px solid var(--gradient-rgba);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  height: auto;
  color: var(--text);
}

.number {
  border: 1px solid rgba(255, 192, 203, 0.114);
  background: rgba(236, 228, 228, 0.05);
  border-radius: 5px;
  width: 50%;
  height: auto;
  border: 1px solid var(--gradient-rgba);
  margin-bottom: 10px;
  margin-top: 5px;
}

.img_container {
  height: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffffcf;
  border-radius: 20px;
  padding: 10px;
}

.wimg {
  width: 70px;
  height: auto;
}
@media (max-width: 1350px) {
}

@media (max-width: 1000px) {
}

@media (max-width: 750px) {
}

@media (max-width: 500px) {
}

@media (max-width: 400px) {
}

/* PDF */

.PdfContainer {
  display: flex;
  justify-content: space-evenly;
}

.PdfWrapper {
  margin: 0 auto;
  width: 50%;

  p {
    width: 130px;
    margin-bottom: 5px;
  }
}

.svg {
  display: flex;
  width: 110px;
  padding: 3px 1px;
  border-radius: 8px;
  margin: 0 auto;
  background: linear-gradient(rgba(12, 27, 58, 0.7), #3f9fd2);
  margin-bottom: 1rem;
  font-size: 0.7rem;
  text-shadow: 2px 2px 20px black;

  &:hover {
    filter: brightness(90%);
  }
  a {
    display: flex;
  }
  svg {
    margin-left: 0.5rem;
    font-size: 1rem;

    margin-right: 0.7rem;
  }
}

/* MOBILE: poniżej 700px */

@media (max-width: 815px) {
  .grid-container {
    grid-template-areas:
      'two'
      'one'
      'three';
    grid-template-columns: 1fr;
  }
  .grid-container {
    gap: 1px;
  }

  .graph {
    margin-top: 10px;
  }

  .item {
    padding: 0.7rem;
  }
  .item-3 {
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .item-1 {
    margin-right: 40px;
  }

  .item-2 {
    margin-right: 0;
  }
}
