.parent {
  padding-top: 40px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14vh;
  /* overflow: hidden; */
}

.hidden {
  width: 100vw;
  height: 99vh;
  border: 1px solid rgba(255, 255, 255, 0.018);
  overflow: hidden;
}

.slides {
  position: relative;
  display: grid;
  > .slide {
    grid-area: 1 / -1;
  }

  > .button_slides {
    appearance: none;
    background: transparent;
    border: none;
    color: #fff;
    position: absolute;
    font-size: 6rem;
    width: 5rem;
    height: 5rem;

    top: 30%;
    transition: opacity 0.3s;
    opacity: 0.7;
    z-index: 100000;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }

    &:first-child {
      left: -50%;
    }
    &:last-child {
      right: -50%;
    }
  }
}

.slideContent {
  width: 35vw;
  height: 17vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out;
  opacity: 0.4;
  box-shadow: 0 2px 20px 2px rgba(255, 255, 255, 0.08);

  display: grid;
  align-content: center;

  transform-style: preserve-3d;
  transform: perspective(1500px) translateX(calc(100% * var(--offset)))
    rotateY(calc(-47deg * var(--dir)));
}

.slideContent.active:hover {
  cursor: pointer;
}

.slideContentInner {
  transform-style: preserve-3d;
  transform: translateZ(1rem);
  transition: opacity 0.3s linear;
  text-shadow: 0 0.1rem 1rem #000;
  opacity: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 9999999999999999;

  .slideSubtitle,
  .slideTitle {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0.2ch;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-bottom: 4px;
  }

  .slideTitle {
    font-size: 2rem;
  }

  .slideSubtitle {
    font-size: 1rem;
    /* font-size: 1rem; */
  }

  .slideDescription {
    padding: 0 10px;
    margin: 0;
    font-size: 0.9rem;
    letter-spacing: 0.2ch;
  }

  .slideData {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 10px;
  }
}

.slideBackground {
  position: fixed;
  top: 0;
  left: -10%;
  right: -10%;

  bottom: 0;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s linear, transform 0.3s ease-in-out;
  pointer-events: none;
  transform: translateX(calc(10% * var(--dir)));
}

.slide[data-active] {
  z-index: 2;
  pointer-events: auto;

  .slideBackground {
    opacity: var(--opacity);
    transform: none;
  }

  .slideContentInner {
    opacity: 1;
  }

  .slideContent {
    --x: calc(var(--px) - 0.5);
    --y: calc(var(--py) - 0.5);
    opacity: 1;

    transform: perspective(1000px);

    &:hover {
      transition: none;
      /* transform: perspective(1000px) rotateY(calc(var(--x) * 45deg))
        rotateX(calc(var(--y) * -45deg)); */
    }
  }
}

@media (max-width: 1350px) {
  .slideContentInner {
    margin-top: 5px;
    width: 200%;
    left: -50%;
    /* transform: translateZ(50%); */
  }
}

@media (max-width: 1000px) {
  .slides {
    .button_slides {
      font-size: 3rem;
    }
  }
  .slideContentInner {
    .slideTitle {
      font-size: 1.5rem;
    }

    .slideSubtitle {
      font-size: 0.9rem;
    }

    .slideDescription {
      padding: 0 10px;
      font-size: 0.9rem;
    }

    .slideData {
      font-size: 1rem;
    }
  }
}

.active.hov {
  position: relative;
  display: inline-block;
}

/* Przyciemnienie + napis jako warstwa */
.active.hov::after {
  content: "github link";
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  opacity: 0;
  transition: background 0.3s ease, opacity 0.3s ease;
  pointer-events: none;
  z-index: 1;
}

.active.hov:hover::after {
  background: rgba(0, 0, 0, 0.4); /* przyciemnienie */
  opacity: 1; /* pokazanie napisu */
}

@media (max-width: 750px) {
  .slideContentInner {
    margin-top: 5px;
    width: 130%;
    left: -15%;
    .slideTitle {
      font-size: 1.2rem;
    }
  }
  .slideContent {
    width: 60vw;
    height: 30vw;
  }
  .slides {
    > .button_slides {
      top: 30%;

      &:first-child {
        left: -25%;
      }
      &:last-child {
        right: -25%;
      }
    }
  }
}

@media (max-width: 500px) {
  .slideContentInner {
    margin-top: 5px;
    width: 116%;
    left: -8%;
    .slideTitle {
      font-size: 1.2rem;
    }
  }
  .parent {
    padding-top: 0px;
  }

  .slideContent {
    width: 75vw;
    height: 46vw;
  }
  .slides {
    > .button_slides {
      top: 27%;

      &:first-child {
        left: -18%;
      }
      &:last-child {
        right: -18%;
      }
    }
  }
}

@media (max-width: 400px) {
  .slideContentInner {
    margin-top: 5px;
    width: 134%;
    left: -17%;
    .slideTitle {
      font-size: 1.1rem;
    }
  }
  .slideContent {
    width: 64vw;
    height: 32vw;
  }

  .slides {
    > .button_slides {
      top: 15%;

      &:first-child {
        left: -28%;
      }
      &:last-child {
        right: -28%;
      }
    }
  }
}

@media (max-width: 300px) {
  .slides {
    > .button_slides {
      top: 8%;

      &:first-child {
        left: -34%;
      }
      &:last-child {
        right: -34%;
      }
    }
  }
}
