*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  overflow: hidden;
  background: #1a1a1a;
  line-height: 1.8;
  font-weight: 400;
}
