:root {
  --primary-color: #b5cef8;
  --secondary-color: #1a1a1a;
  --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  vertical-align: middle;
  color: inherit;
}

.site {
  color: var(--primary-color);
  position: fixed;
  right: 0;
  bottom: -5%;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

.container {
  max-width: 480px;
  width: 100%;
  padding: 0 2em;
}

nav {
  position: relative;
  display: flex;
  justify-content: flex-end;
  max-width: 480px;
  width: 100%;
  height: 500px;
}

nav .link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  right: 0;
  cursor: pointer;
  z-index: 99999;
}

nav .link::before {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-image: linear-gradient(
    to left,
    transparent 25%,
    var(--primary-color)
  );
  border-radius: 50% 0 0 50%;
  transform: scale(2);
  /* z-index: -2; */
}

nav .link::after {
  content: "";
  position: absolute;

  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background-color: var(--secondary-color);
  border-radius: 50% 0 50% 50%;
  transform: scale(2);
  /* z-index: -1; */
  opacity: 0.4;
  transition: opacity 0.3s;
}

nav .link .close,
nav input:checked ~ label .menu {
  display: none;
}

nav input:checked ~ label .close {
  display: block;
}

nav .link:hover::after {
  opacity: 0.6;
}

nav ul.submenu {
  position: absolute;
  top: 0;
  right: 4em;
  width: 350px;
  height: 500px;
  transform: rotate(90deg);
  visibility: hidden;
  transition: visibility 0.1s;
}

nav > input:checked ~ ul {
  visibility: inherit;
}

nav > input:checked ~ ul li {
  transform: rotate(calc((-180deg / 6) * var(--item))) translateX(0);
  opacity: 1;
}

nav ul.submenu li {
  --item: 1;
  position: absolute;
  width: 175px;
  height: 60px;
  transform: rotate(calc((-180deg / 8) * var(--item))) translateX(157px);
  transform-origin: right center;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: transform 0.7s, opacity 0.2s;
}

nav ul li:nth-child(2) {
  --item: 2;
}

nav ul li:nth-child(3) {
  --item: 3;
}

nav ul li:nth-child(4) {
  --item: 4;
}

nav ul li:nth-child(5) {
  --item: 5;
}

nav ul li a {
  position: relative;
  display: flex;
  align-items: center;
}

nav ul li a i {
  font-size: 20px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--white-color);
  /* border: 2px solid transparent; */
  transition: border 0.3s background-color 0.3s;
  background: radial-gradient(
    circle at 30% 30%,
    var(--primary-color),
    var(--secondary-color)
  );
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

nav ul li a:hover i {
  background-color: transparent;
  border-color: var(--primary-color);
}

nav ul li a span {
  position: absolute;
  right: calc(100% + 1em);
  text-align: right;
  font-size: 13px;
  padding: 0 10px;
  border-radius: 25px;
  background-image: linear-gradient(
    to right,
    transparent 25%,
    var(--primary-color)
  );
  z-index: -1;
  transform: translateX(50px);
  opacity: 0;
  transition: color 0.3s, transform 0.3s 0.4s, opacity 0.2s 0.4s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

nav > input:checked ~ ul li a span {
  transform: translateX(0);
  opacity: 1;
  font-size: 1rem;
}

nav ul li a span::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 25px;
  background-color: var(--secondary-color);
  z-index: -1;
  transition: background-color 0.3s;
}

nav ul li a:hover span::before {
  background-color: transparent;
}

nav ul li a:hover span {
  color: var(--white-color);
}

nav ul li:nth-child(1) a {
  transform: rotate(301deg);
}

nav ul li:nth-child(2) a {
  transform: rotate(330deg);
}

nav ul li:nth-child(4) a {
  transform: rotate(30deg);
}

nav ul li:nth-child(5) a {
  transform: rotate(60deg);
}

/* sun */

.darkmode {
  position: fixed;
  top: 1%;
  right: 1%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  transition: transform 0.5s, opacity 0.5s;
  z-index: 100000;
}

.sun img {
  width: 50px;
  height: 50px;
  filter: drop-shadow(0 0 15px #fffacd);
}

.moon img {
  margin: 10px;
  width: 30px;
  height: 30px;
  filter: drop-shadow(0 0 8px #bbb);
}

.sun img:hover,
.moon img:hover {
  transform: scale(1.1);
  filter: brightness(1.1) blur(0.3px);
  transition: all 0.3s ease;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

.sun img,
.moon img {
  animation: float 3s ease-in-out infinite;
}
/* Sun change */

.invisibleClass {
  display: none;
}

.visibleClass {
  display: block;
}

.animate-up {
  animation: iconUp 0.5s forwards;
}

.animate-down {
  animation: iconDown 0.5s forwards;
}

.animate-up2 {
  animation: iconUp2 0.5s forwards;
}

.animate-down2 {
  animation: iconDown2 0.5s forwards;
}

@keyframes iconUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

@keyframes iconUp2 {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}

@keyframes iconDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes iconDown2 {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
