.homepage_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  gap: 50px;
}

/* .sphere_container {

} */

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.me {
  width: 92%;
  text-align: center;
  font-size: 1.1rem;
}

.who {
  width: 94%;
  margin: 15px;
  font-size: 1rem;
}

.showMe {
  opacity: 0;
  /* transform: translateX(-20px); */
  transition: opacity 0.5s ease-in;
  /* , transform 0.6s ease; */
  animation: showText 0.6s forwards;
}

@keyframes showText {
  to {
    opacity: 1;
    /* transform: translateX(0); */
  }
}

.hover-indicator {
  width: 94%;
  margin: 15px;
  font-size: 1rem;
}

/* parent */

.tvbox {
  position: relative;
  width: 750px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  background: rgba(17, 17, 17, 0.378);
  box-shadow: 0px 8px 25px rgba(58, 58, 58, 0.5);
  border: 1px solid rgba(118, 117, 117, 0.6);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  height: 320px;
  color: white;
}
/* inside tvbox outside tvpixel */

.halving_card_title {
  padding: 15px;
  display: flex;
  gap: 20px;
  align-items: center;
}

/* grey area */

.tvpixel {
  border: 1px solid rgba(255, 192, 203, 0.114);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  width: 450px;
  height: 202px;

  border: 1px solid rgba(118, 117, 117, 0.6);
}

.halving_card {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.my_img_container {
  width: 160px;
  margin: 0 20px;
}

.my_img_container img {
  width: 100%;
  align-items: center;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.avatar {
  width: 150px;
  /* width: 100%; */
  /* height: 100%; */
}

@media (max-width: 1350px) {
  .homepage_container {
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
  }
}

@media (max-width: 1000px) {
  .homepage_container {
    margin-top: 50px;
    padding-top: 10px;
    gap: 10px;
  }
  .who {
    margin: 9px;
    font-size: 0.9rem;
  }

  .hover-indicator {
    margin: 9px;
    font-size: 0.9rem;
  }
  .tvpixel {
    width: 440px;
    height: 172px;
  }

  .tvbox {
    width: 680px;

    gap: 0px;
    height: 270px;
  }

  .my_img_container {
    width: 130px;
    margin: 0 20px;
  }

  .avatar {
    width: 130px;
    font-size: 0.9rem;
  }
}

@media (max-width: 700px) {
  .halving_card {
    width: 90%;
    flex-direction: column-reverse;
    gap: 10px;
  }

  .tvbox {
    width: 95%;
    height: auto;
    padding-bottom: 10px;
  }

  .my_img_container {
    width: 90px;
    margin: 0 10px;
  }

  .avatar {
    width: 90px;
  }

  .who {
    width: 96%;
  }

  .hover-indicator {
    width: 96%;
  }

  .halving_card_title {
    padding: 10px;
  }

  .halving_card_title h3 {
    font-size: 1rem;
  }

  .tvpixel {
    width: 98%;
  }
}

@media (max-width: 500px) {
  .avatar {
    font-size: 0.8rem;
  }

  .who {
    font-size: 0.8rem;
  }

  .tvbox {
    width: 96%;
  }
}

@media (max-width: 400px) {
  .tvpixel {
    height: auto;
  }
  .halving_card_title {
    flex-direction: column;
    gap: 2px;
    margin: 0;
    padding: 2px;
  }
}
