.StyledPageNotFound {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    margin-top: 35px;
}

.box {
  position: relative;
  width: auto;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background: rgba(17, 17, 17, 0.378);
  box-shadow: 0px 7px 25px var(--shadow-rgba);
  border: 1px solid var(--gradient-rgba);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  height: auto;
  color: var(--text);
  padding: 1.8rem;
  text-align: center;
}